
.margins {
    margin-left: 10px;
}

@media screen and (max-width: 770px) {
    .margins {
        margin-right: 5%;
    }

    .label_name {
        font-weight: bold;
    }
} 

@media screen and (max-width: 400px) {
    .margins {
        margin-left: -1%;
        margin-right: 0%;
    }
} 