.model {
    display: none;
}

.name_show {
    display: flex;
}

.logo_show {
    display: none;
}

.text_color {
    color: 	#606060;
    font-family: 'Roboto', sans-serif; 
}

@media screen and (max-width: 960px) {
    .model {
        display: block;
        padding-right: 16px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .name_show {
        display: none;
    }

    .logo_show {
        display: block;
    }

    .show {
        display: none;
    }

    .model {
        display: block;
        padding-right: 16px;
        width: 100%;
    }

    .back {
        background-color: #fff;
        height: 100%;
    }
}