.model {
    display: none;
}

.name_show {
    display: flex;
}

.logo_show {
    display: none;
}

.text_color {
    color: 	#606060;
    font-family: 'Roboto', sans-serif; 
}

.btn_link {
    color: #fff;
    font-size: 1.2rem;
}

.btn_active {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 0.1rem;
    border-color: #fff;
}

.btn_link:hover {
    background-color: #DCDCDC;
    /* color: #4F02A4; */
}

@media screen and (max-width: 960px) {
    .model {
        display: block;
        padding-right: 16px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .show {
        display: none;
    }

    .model {
        display: block;
        padding-right: 16px;
        width: 100%;
    }

    .back {
        background-color: #fff;
        height: 100%;
    }
}

@media screen and (max-width: 480) {
    .name_show {
        display: none;
    }

    .logo_show {
        display: block;
    }

}