.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.wrapper :global .input_control {
  height: 100%;
  border: 0;
  border-radius: 28px 0 0 28px;
  overflow: hidden;
}

.wrapper :global .DateRangePickerInput {
  height: 100%;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.wrapper :global .DateRangePicker {
  height: 100%;
}

.wrapper :global .DateRangePicker > div {
  height: 100%;
}

.wrapper :global .DateInput_input {
  height: 40px;
  padding: 11px 10px 9px;
  /* height: 20px; */
}

.wrapper :global .DateInput_input__focused {
  border-color: transparent;
}

.rangePicker {
  margin-bottom: 0;
  height: 70%;
}

.wrapper .rangePicker__error :global .DateInput_input::placeholder {
  color: #ff4d4f;
}

.margin_top {
  margin-top: 5%;
}

.occupancyDropDown {
  margin-bottom: 0;
}

.occupancyDropDown :global .dropdown {
  height: 100%;
}

.occupancyDropDown :global .dropdown-toggle {
  height: 100%;
  border: none;
  border-radius: 1px;
  padding-right: 16px;
}

.occupancyDropDown :global .btn-primary:not(:disabled):not(.disabled):focus {
  border: none;
}

.occupancyDropDown :global .btn-primary.dropdown-toggle {
  width: 195px;
}

.occupancyDropDown :global .show > .btn-primary.dropdown-toggle {
  border: none;
}

.occupancyDropDown :global .dropdown-menu.show {
  width: 305px;
  max-height: 305px;
  overflow: visible;
  position: relative;
  background-color: #fff;
}

.fa-search {
  color: #fff;
}

.searchBtn:global.btn-primary:hover,
.searchBtn:global.btn-primary:focus,
.searchBtn:global.btn-primary:active {
  transition: all 200ms ease;
  background: rgb(0 190 10 / 90%);
}

.searchBtn:global.btn-primary:not(:disabled):not(.disabled):active {
  background: rgb(0 190 10 / 90%);
}

.margin_scroll {
  margin-bottom: 0;
}

.modal_1 {
  position: absolute !important;
  left: 11% !important;
  top: 100% !important;
  z-index: 1 !important;
  background: #FFFFFF !important;
  border-radius: 32px !important;
  box-shadow: 0px 6px 20px rgb(0 0 0 / 20%) !important;
  margin-top: 12px !important;
  max-height: -webkit-calc(100vh - 220px) !important;
  max-height: -moz-calc(100vh - 220px) !important;
  max-height: calc(100vh - 220px) !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 16px 32px !important;
  
}

.modal_2 {
  width: 70%;
}

.modal_3 {
  padding: 8px 0px !important;
    margin: 0px -32px -8px !important;
    width: 500px !important;
}

.modal_4 {
  margin: 0px 0px 16px !important;
    padding: 0px !important;
}

.modal_5 {
  list-style-type: none !important;
  margin: 0px !important;
  padding: 8px 32px 2px !important;
}

.modal_6 {
  text-transform: uppercase !important;
  font-size: 12px !important;
  line-height: 12px !important;
  font-weight: 800 !important;
}

.modal_7 {
  list-style-type: none !important;
  cursor: pointer !important;
  padding: 8px 32px !important;
}


.modal_8 {
  text-decoration: none !important;
  -webkit-box-align: center !important;
  -webkit-box-direction: reverse !important;
  -webkit-box-orient: horizontal !important;
  display: flex !important;
  width: 100% !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  padding: 8px 24px !important;
  margin-top: 8px !important;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px !important;
  border-radius: 32px !important;
  height: 58px !important;
  border: 1px solid rgb(221, 221, 221)
}

.modal_8:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 16px !important;

}

.modal_9 {
  -webkit-box-pack: center !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
/* 
.modal_10 {
  overflow: clip !important;
  overflow-x: clip !important;
  overflow-y: clip !important;
}
.modal_10 {
  -webkit-text-fill-color: transparent !important;
  background: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%) text !important;
}
.modal_10 {
  font-size: 18px !important;
  line-height: 20px !important;
  font-weight: 800 !important;
  color: rgb(34, 34, 34) !important;
  max-height: 120px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical !important;
} */

.modal_10 {
  /* overflow:auto; */
  /* -webkit-text-fill-color: transparent !important; */
  background: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%) text !important;
  font-size: 18px !important;
  line-height: 20px !important;
  font-weight: 800 !important;
  color: #4F02A4 !important;
  max-height: 120px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical !important;
}

@media screen and (max-width: 400px) {
  .margin_top {
    margin-top: -10%;
  }

  .margin_scroll {
    margin-bottom: 30%;
  }

  .occupancyDropDown  {
    align-self: center;
    width: auto;
  }
}

/* @media (max-width: 960px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper :global .DateRangePickerInput {
    border-radius: 28px;
    width: 70%;
    margin-left: 15%;
  }

  .searchBtn {
    border-radius: 28px;
    width: 70%;
    margin-left: 15%;
  }
  
  .occupancyDropDown  {
    align-self: center;
    width: auto;
  }

  .occupancyDropDown :global .dropdown-toggle {
    border-radius: 28px;
  }
} */
