.NavbarItems {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,77,121,1) 100%, rgba(0,212,255,1) 100%);
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo1 {
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
    /* width: 20%;
    height: 20%; */
}

.input-control {
    height: 55px;
    width: 90%;
    border-radius: 28px 28px 28px 28px;
}

.btn-control{
    height: 40px;
    border: 2px;
    width: 50px;
    padding-bottom: 2px;
    border-color: blueviolet;
    background:chartreuse;
    border-radius: 0 28px 28px 0;
}

.navbar-logo2 {
    display: none;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vh;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
    font-size: 2rem;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .search-control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        margin-left: 10%;
    }
 
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 40px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease-out;
    }
    
    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-out;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #7577fa;
        border-radius: 0;
    }

    .navbar-logo1 {
        display: none;
    }

    .navbar-logo2 {
        display: flex;
        position: absolute;
        top: -50%;
        left: 0;
        height: 100%;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 50%);
        font-size: 0.5rem;
        cursor: pointer;
   }

   .fa-times {
       color: #fff;
       font-size: 2rem;
   }

   .nav-links-mobile {
       display: block;
       text-align: center;
       padding: 1.5rem;
       margin: 2rem auto;
       border-radius: 4px;
       width: 80%;
       background: #4ad9e4;
       text-decoration: none;
       color: #fff;
       font-size: 1.5rem;
   }

   .nav-links-mobile:hover {
       background: #fff;
       color: #6568f4;
       transition: 250ms;
   }
}