.tryhosting {
    background-image: url(./../../static/influencer.jpg);
    color: #fff;
    /* padding: 10rem 5rem; */
    height: 30rem;
    border-radius: 15px;
    background-size: cover;
    position: relative;
    /* background-color: #1c1c1c; */
    background-repeat: no-repeat;
    background-position: right;
}

.celebrate {
    background-image: url(./../../static/celebrate.jpg);
    color: #fff;
    /* padding: 10rem 5rem; */
    height: 30rem;
    border-radius: 15px;
    background-size: cover;
    position: relative;
    /* background-color: #1c1c1c; */
    background-repeat: no-repeat;
    background-position: right;
}

.tryhosting h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    color: #fff;
}

.tryhosting p {
    line-height: 25px;
}

.back {
    background-image: linear-gradient(to right, rgba(0,0,0,1) 20%,
     rgba(0,0,0,1) 40%,
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.4) , 
       rgba(0,0,0,0) 90%, 
       rgba(0,0,0,0) 100%);
    left: 0%;
    width: 50%;
    height: 100%;
    color: #fff;
    padding-top: 5rem;
    border-radius:15px;
    padding-left: 3rem;
}

.celebrate_back {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4)100%, rgba(0,0,0,0.4)100%);
    /* background-image: linear-gradient(to right, rgba(0,0,0,1) 20%,
     rgba(0,0,0,1) 40%,
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.4) , 
       rgba(0,0,0,0) 90%, 
       rgba(0,0,0,0) 100%); */
    left: 0%;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 3rem;
    padding-left: 2rem;
    border-radius:15px;
}

.celebrate h2 {
    font-size: 3rem;
    letter-spacing: 1px;
    color: #fff;
}

.celebrate p {
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    .tryhosting:after{
        content:"";
      display:block;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      border-radius:15px;
      z-index:-1;
    }
    .tryhosting{
        position:relative;
        z-index:-1;
    }

    .celebrate {
        background-image: url(./../../static/fly\ .jpg);
        color: #fff;
        height: 32rem;
        border-radius: 15px;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
        background-position: right;
    }

    .back {
        background-image: linear-gradient(to right, rgba(0,0,0,0.6)100%, rgba(0,0,0,0.6)50%);
        /* background-image: linear-gradient(to right, rgba(0,0,0,1) 20%,
         rgba(0,0,0,1) 40%,
          rgba(0,0,0,0.7),
          rgba(0,0,0,0.4) , 
           rgba(0,0,0,0) 90%, 
           rgba(0,0,0,0) 100%); */
        left: 0%;
        width: 100%;
        height: 100%;
        color: #fff;
        padding-top: 3rem;
        padding-left: 2rem;
        border-radius:15px;
    }

    .celebrate h2 {
        font-size: 2.5rem;
        letter-spacing: 1px;
        color: #fff;
    }

}